<table class="table datatable-basic">
    <thead>
        <tr>
            <th> Deal</th>
            <th> Activity</th>
            <th> Name</th>
            <th> Contact</th>
            <th> Date</th>
            <th> Point</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Premium 300</td>
            <td>Sun Yuan</td>
            <td>016-2345678</td>
            <td> 20/08/2021</td>
            <td> 1 </td>

        </tr>
        <tr>
            <td>Saving Investment </td>
            <td>Jia Zian</td>
            <td>016-89991221</td>
            <td> 01/09/2021</td>
            <td> 1 </td>
        </tr>
        <tr>
            <td>Saving Investment </td>
            <td>Jia Zian</td>
            <td>016-89991221</td>
            <td> 09/08/2021</td>
            <td> 1 </td>
        </tr>
        <tr>
            <td>Saving Investment </td>
            <td>Jia Zian</td>
            <td>016-89991221</td>
            <td> 09/08/2021</td>
            <td> 1 </td>
        </tr>
        <tr>
            <td>Saving Investment </td>
            <td>Jia Zian</td>
            <td>016-89991221</td>
            <td> 08/08/2021</td>
            <td> 1 </td>
        </tr>
        <tr>
            <td>Saving Investment </td>
            <td>Jia Zian</td>
            <td>016-89991221</td>
            <td> 05/08/2021</td>
            <td> 1 </td>
        </tr>
        <tr>
            <td>Saving Investment </td>
            <td>Jia Zian</td>
            <td>016-89991221</td>
            <td> 01/08/2021</td>
            <td> 1 </td>
        </tr>
        <tr>
            <td>Saving Investment </td>
            <td>Jia Zian</td>
            <td>016-89991221</td>
            <td> 01/08/2021</td>
            <td> 1 </td>
        </tr>
    </tbody>
</table>
