
@{
    ViewBag.Title = "Add";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/global_assets/js/demo_pages/form_input_groups.js"></script>
<script src="~/global_assets/js/demo_pages/picker_date.js"></script>
<script src="~/global_assets/js/demo_pages/form_select2.js"></script>
<script src="~/global_assets/js/demo_pages/form_validation.js"></script>
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-plus-circle2"></i> <span class="font-weight-semibold">Change Password</span></h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>


    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a class="breadcrumb-item"><i class="icon-calendar3 mr-2"></i>Profile</a>
                <a class="breadcrumb-item">Change Password</a>
            </div>

            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>

    </div>
</div>
<!-- /page header -->
<!-- Tabs with top line -->
<div class="mb-3 mt-2">
    <h6 class="mb-0 font-weight-semibold">
    </h6>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Change Password</h5>
            </div>

            <div class="card-body">
                @*<ul class="nav nav-tabs nav-tabs-top">
                        <li class="nav-item"><a href="#top-tab1" class="nav-link active" data-toggle="tab">Sales Activity</a></li>
                        <li class="nav-item"><a href="#top-tab2" class="nav-link" data-toggle="tab">Referral Leads</a></li>

                    </ul>*@

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="top-tab1">
                        <form id="change-password">

                            <div class="form-group row">
                                <label class="col-form-label col-lg-4">Old Password<span class="text-danger">*</span></label>
                                <div class="col-lg-8">
                                    <input type="password" required name="oldPassword" id="oldPassword" class="form-control" />

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4">New Password<span class="text-danger">*</span></label>
                                <div class="col-lg-8">
                                    <input required type="password" name="mPassword" id="mPassword" class="form-control" />
                                    <small style="color:red;">
                                        <span id="mPasswordErr" style="display:none;">Password cannot be empty</span>
                                    </small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4">Confirm New Password<span class="text-danger">*</span></label>
                                <div class="col-lg-8">
                                    <input required type="password" name="mCPassword" id="mCPassword" class="form-control" />
                                    <small style="color:red;">
                                        <span id="mCPasswordErr" style="display:none;">Confirm New Password not match with New Password</span>
                                    </small>
                                </div>
                            </div>
                            <div class="row form-group m-2">
                                <div class="col-lg-12">
                                    <div  class="text-right float-right">
                                        <button type="button" class="btn btn-primary" onclick="ChangePassword()">Update <i class="icon-paperplane ml-2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
  
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /tabs with top line --> 
@section Scripts{

    <script type="text/javascript">
        

        var swalInit = swal.mixin({
            buttonsStyling: false,
            customClass: {
                confirmButton: 'btn btn-primary',
                cancelButton: 'btn btn-light',
                denyButton: 'btn btn-light',
                input: 'form-control'
            }
        });




        function ChangePassword() {

            var form = $("#change-password");
            var pass = $('#mPassword').val();
            var oPass = $('#oldPassword').val();

            var cpassword = $('#mCPassword').val();

            form.validate();
            if (form.valid()) {



                if (pass != cpassword) {
                    swalInit.fire({
                        text: 'confirm password not match',
                        icon: 'warning'
                    });

                    return;
                }
                event.preventDefault();
                var formData = form.serialize();
                $.ajax({
                    url: '@Url.Action("ChangePasswordAsync", "Account")',
                    type: 'POST',
                    data: {
                        oPassword: oPass, password: pass
                    },
                    success: function (response) {

                        if (response.StatusCode==='0000') {
                            swalInit.fire({
                                title: 'Success!',
                                text: 'Password updated successfully!',
                                icon: 'success'
                            });
                            form.trigger('reset');
                        }
                        else {
                            swalInit.fire({
                                text: response.StatusMsg,
                                icon: 'warning'
                            });
                        }
                    }
                });
            }

        }

        function AddLead() {
            var form = $("#add-lead");
            form.validate();
            if (form.valid()) {
                event.preventDefault();
                var formData = form.serialize();
                $.ajax({
                    url: '@Url.Action("AddLead", "Activity")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        swalInit.fire({
                            title: 'Success!',
                            text: 'Leads added successfully!',
                            icon: 'success'
                        });
                    }
                });
            }

        }


        function ShowSuccessLeads() {
            var form = $(".form-leads");
            form.validate();
            if (form.valid()) {
                event.preventDefault();
                swalInit.fire({
                    title: 'Success!',
                    text: 'Leads added successfully!',
                    icon: 'success'
                });
                $('#modal_leads').modal('hide');

            }
        }
        function ShowSuccessEditLeads() {
            ShowSuccess();
            $('#modal_editleads').modal('hide');
        }

        function ShowEdit() {
            $('#modal_editleads').modal('show');
        }
    </script>
}
